@mixin Flex($justify)
{ 
    display: flex; 
    justify-content: $justify; 
    align-items: center; 
}

@mixin Ellipsis($space) {
    text-overflow: ellipsis;
    white-space: $space;
    overflow: hidden;
}