// ----- Color ----- //
$first-color: #ffffff;
$first-color-light: #d8dadddc;
$second-color: #252741;
$danger-color: #f8494f;
$shadow: 2px 2px 20px 5px rgba(255, 255, 255, 0.1);

// ----- Typography ----- //
$body-font: 'Poppins', sans-serif;

// ----- Other ----- //
$transition-time: 250ms;